<div class="outer-container">
  <div class="login-container">
    <div class="login-box">
      <div class="left-panel">
        <h2>LaCasa De Papel</h2>
        <img src="assets/symbol.png" alt="La Casa de Papel Image">
      </div>
      <div class="right-panel">
        <form class="login-form" (ngSubmit)="onSubmit()">
          <h2>Member Login</h2>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" [(ngModel)]="user.username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" [(ngModel)]="user.pass" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <button class="btn btn-primary btn-block" routerLink="/home">Back</button>
      <p class="text-center mt-3"(click)="showForgotPasswordOverlay()">Forgot password?</p>
          <p class="text-center mt-3">Don't have an account? <a routerLink="/register">Create</a></p>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </form>
      </div>
    </div>
  </div>

  <!-- "Forgot Password" Overlay -->
  <div class="overlay" *ngIf="showForgotPassword">
    <div class="overlay-content">
      <h2>Forgot Password</h2>
      <form (ngSubmit)="onForgotPasswordSubmit()">
        <div class="form-group">
          <label for="forgotUsername">Username</label>
          <input type="text" id="forgotUsername" class="form-control" [(ngModel)]="user.username" name="forgotUsername" required>
        </div>
        <div class="form-group">
          <label for="forgotPassword">New Password</label>
          <input type="password" id="forgotPassword" class="form-control" [(ngModel)]="user.pass" name="forgotPassword" required>
        </div>
        <div class="form-group">
          <label for="forgotConfirmPassword">Confirm New Password</label>
          <input type="password" id="forgotConfirmPassword" class="form-control" [(ngModel)]="user.cpass" name="forgotConfirmPassword" required>
        </div>
        <div class="btn-container">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="hideForgotPasswordOverlay()">Cancel</button>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
