<div class="maintenance-container">
    <div class="maintenance-content">
      <h1>We are Under Maintenance</h1>
      <img src="assets\maintenance.gif" alt="Bank Logo" class="logo">
      <p class="apology">We sincerely apologize for the inconvenience.</p>
      <p class="message">Our website is currently undergoing scheduled maintenance and will be back in a day.</p>
      <p class="contact">
        For urgent queries, please contact us at:
        <a href="mailto:fakeemail@bank.com">lacasadepapel@gmail.com</a>
      </p>
    </div>
  </div>
  