<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - LaCasa De Papel</title>
</head>

<body>
  <header>
    <h1>LaCasa De Papel - The Bank of Enlightenment</h1>
  </header>

  <div class="image-container">
    <img src="assets\login.jpg" alt="Background Image" class="background-image">
    <div class="text-container">
      <section class="about-container">
        <div class="content">
          <h2>Our Vision</h2>
          <p>
            LaCasa De Papel was founded in the early 1800s by the enigmatic figure, Walter White. His vision was to create
            the biggest and most secure bank in the world, dedicated to promoting knowledge, enlightenment, and societal
            betterment. As a mysterious member of the elusive Illuminati, he believed that by controlling the flow of wealth
            and knowledge, he could influence the course of history for the better.
          </p>
          <p>
            Our bank stands as a beacon of progress, where finance and philosophy unite, empowering individuals and nations
            to achieve their greatest potential. We are committed to delivering innovative financial solutions, fostering
            education, and funding humanitarian endeavors that leave a lasting positive impact on the world.
          </p>
        </div>

        <div class="image-container">
          <img src="assets/walter.png" alt="Founder - Walter White">
        </div>
      </section>

      <section class="about-container reversed">
        <div class="content">
          <h2>Our Mission</h2>
          <p>
            At LaCasa De Papel, our mission is to create a world where prosperity and knowledge intertwine, where financial
            security becomes a catalyst for societal advancement. As a leading financial institution, we seek to redefine
            traditional banking by embracing cutting-edge technologies and ethical practices.
          </p>
          <p>
            We collaborate with visionary entrepreneurs, passionate scholars, and visionary thinkers to drive global
            innovation, support educational initiatives, and fund groundbreaking research. Through our philanthropic
            endeavors, we strive to nurture the minds of future leaders, uplifting communities and building a better
            tomorrow.
          </p>
        </div>

        <div class="image-container">
          <img src="assets/wayne.png" alt="Wayne Enterprises and Vought">
        </div>
      </section>

      <section class="about-container">
        <div class="content">
          <h2>Our Commitment</h2>
          <p>
            LaCasa De Papel is more than just a financial institution; it is a symbol of integrity, transparency, and
            progress. We take pride in safeguarding our clients' assets, employing state-of-the-art security measures, and
            adhering to strict ethical standards.
          </p>
          <p>
            As a testament to our commitment to societal betterment, we actively contribute to humanitarian causes,
            environmental sustainability, and the advancement of arts and culture. Our dedication to philanthropy is as
            strong as our commitment to financial excellence, creating a harmonious balance that serves the greater good.
          </p>
        </div>

        <div class="image-container">
          <img src="assets/homelander.jpg" alt="Homelander">
        </div>
      </section>
    </div>
  </div>

  <footer class="footer">
    <h3>Contact Us:</h3>
    <ul>
      <li><strong>Contact Number:</strong> +1 (XXX) XXX-XXXX</li>
      <li><strong>Email:</strong> info@lacasadepapelbank.com</li>
      <li><strong>Address:</strong> Dubai main Road, 123 Enlightenment Street, Prosperityville, Vada Chennai-600028</li>
    </ul>
  </footer>
</body>

</html>
