<div class="container">
  <div class="welcome-panel">
    <h2>Thank you for choosing us!</h2>
    <img src="./assets/symbol.png" alt="Welcome Image">
    <i class="fa fa-user-circle"></i>
    <p></p>
    <p>Please fill out the form below to get started.</p>
  </div>
  <div class="form-panel">
    <h2>Create Account</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName" required>
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" [(ngModel)]="user.gender" name="gender" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="nonbinary">Non-binary</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input type="date" class="form-control" id="dob" [(ngModel)]="user.dob" name="dateOfBirth" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="user.pass" name="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="user.cpass" name="confirmPassword" required>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
      <button type="button" class="btn btn-secondary back-btn" (click)="goBack()">Back</button>

    </form>
  </div>
</div>
