<div class="outer-container">
    <div class="login-container">
      <div class="login-box">
        <div class="left-panel">
          <h2>Welcome Admin</h2>
          <img src="assets/symbol.png" alt="La Casa de Papel Image">
        </div>
        <div class="right-panel">
          <form class="login-form" (ngSubmit)="onSubmit()">
            <img src="assets/admin.png" alt="La Casa de Papel Image">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-control" [(ngModel)]="admin.username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" [(ngModel)]="admin.pass" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <button class="btn btn-primary btn-block" [routerLink]="['/home']">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  